@font-face {
	font-family: 'Geometria';
	src: url('./fonts/Geometria-Regular.eot');
	src: url('./fonts/Geometria-Regular.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Geometria-Regular.woff') format('woff'),
		url('./fonts/Geometria-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'GeometriaM';
	src: url('./fonts/Geometria-Medium.eot');
	src: url('./fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Geometria-Medium.woff') format('woff'),
		url('./fonts/Geometria-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Gotham';
	src: url('./fonts/GothamPro-Black.eot');
	src: url('./fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro-Black.woff') format('woff'),
		url('./fonts/GothamPro-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

body {
	font-size: 24px;
	line-height: 28.8px;
	letter-spacing: 0.02em;
	font-family: 'Geometria', sans-serif;
	color: white;
	background-color: #131212;
	min-height: 100vh;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3 {
	font-family: 'Gotham', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
	transition: 0.3s ease;
}

.container {
	max-width: 1740px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 100px;
}

/* HEADER */
.header {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 10;
	padding: 80px 0;
}
.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 150px;
}

.header-menu ul {
	display: flex;
	align-items: center;
	gap: 32px;
}

.header-menu ul a:hover {
	color: #fb6542;
}

.header-burger a {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 2s ease;
}

.header-burger a:hover {
	transform: rotate(360deg);
}

/* END-HEADER */

/* MAIN */
.main {
	min-height: 1080px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	position: relative;
}
.main__inner {
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.main-desc {
	max-width: 1000px;
	padding: 60px 0;
	position: relative;
	z-index: 10;
}

.main-desc h1 {
	font-size: 200px;
	line-height: 120%;
}

.main-desc p {
	font-weight: 500;
	font-size: 48px;
	line-height: 140%;
	letter-spacing: 0.02em;
}

.main-desc .social {
	margin-top: 145px;
	justify-content: flex-end;
}
.social {
	display: flex;
	align-items: center;
	gap: 32px;
}

.social path {
	transition: 0.3s ease;
}

.social li:hover path {
	fill: #fb6542;
}

.main-img {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 5;
}
.main-img img {
	position: absolute;
}
.main-img img:nth-child(1) {
	left: 0;
	top: 83px;
}

.main-img img:nth-child(2) {
	right: 480px;
	top: 0;
}
.main-img img:nth-child(3) {
	right: 0;
	top: 0;
}

.main-img img:nth-child(4) {
	left: 0;
	bottom: 0;
}
.main-img img:nth-child(5) {
	left: 280px;
	bottom: -50px;
	max-width: 870px;
}

.main-img img:nth-child(6) {
	right: 100px;
	bottom: 175px;
}

.main-img img:nth-child(7) {
	left: 130px;
	top: 320px;
}

.main-img img:nth-child(8) {
	left: 55%;
	transform: translateX(-50%);
	bottom: 20px;
}

.main-img img:nth-child(9) {
	right: 340px;
	top: 390px;
}
/* END-MAIN */

@media (max-width: 1600px) {
	.main-img {
		position: absolute;
		height: 100%;
		width: 100%;
	}
	.main-img img:nth-child(5),
	.main-img img:nth-child(8) {
		display: none;
	}
}

@media (max-width: 1200px) {
	.main {
		min-height: 600px;
		height: 100vh;
	}
	.main-desc h1 {
		font-size: 140px;
	}

	.main-desc p {
		font-size: 28px;
	}

	.main-desc .social {
		margin-top: 60px;
	}

	.main-img img:nth-child(3) {
		max-width: 370px;
	}

	.main-img img:nth-child(4) {
		max-width: 450px;
	}
}

@media (max-width: 1024px) {
	body {
		font-size: 20px;
	}
	.container {
		padding: 0 30px;
	}
	.main-img img:nth-child(1),
	.main-img img:nth-child(6) {
		display: none;
	}

	.header__inner {
		padding-left: 0;
	}

	.header {
		padding: 30px 0;
	}
}

@media (max-width: 768px) {
	.main-img img:nth-child(2) {
		display: none;
	}

	.main__inner {
		justify-content: flex-start;
	}

	.main-desc {
		padding: 30px 0;
	}

	.main-desc h1 {
		font-size: 100px;
	}

	.main-desc p {
		font-size: 22px;
	}

	.main-desc .social {
		justify-content: flex-start;
		margin-top: 30px;
	}
	.social {
		gap: 16px;
	}

	.social svg {
		width: 50px;
		height: 50px;
	}
}

@media (max-width: 568px) {
	.container {
		padding: 0 15px;
	}
	body {
		font-size: 16px;
	}

	.header {
		padding: 15px 0;
	}
	.header__inner {
		justify-content: flex-end;
	}

	.header-menu {
		display: none;
	}

	.main-desc h1 {
		font-size: 60px;
	}

	.main-desc p {
		font-size: 18px;
	}

	.main-img img:nth-child(3) {
		max-width: 280px;
	}
	.main-img img:nth-child(4) {
		max-width: 300px;
	}
}
